.header-wrapper{
    width: 100%;
    height: 10vh;
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins", sans-serif;
    position: sticky;
    /* position: fixed; */
    top: 0px;
    bottom: 100%;
    z-index: 99999;
    /* scroll-behavior: smooth; */
}

.header-inner-wrapper{
    width: 85%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Logo-wrapper{
    width: 170px;
    height: 39px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:15px;
    border-radius: 80px;
    /* background: #000; */
    justify-content:space-between;
}

.HeaderBtn{
    width: 78%;
    height: 47px;
    background: var(--btn);
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 50px;
    transition: all 350ms ease-in-out;
}

.HeaderBtn:hover{
    transform: scale(1.02);
    transition: all 350ms ease-in-out;

}

.HeaderImg {
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

.BottomLaCurve{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    /* font-family: "Ope" sans-serif; */
    /* color: rgb(21, 26, 33); */
    color: white;
    /* text-decoration: none; */
    text-decoration-line: none;
    /* color: aqua; */
}



.icon-logo{
    display: none;
}

.middle-section{
    width: 50%;
    height: 70%;
    background-color: white;
    /* box-shadow: 10px 20px 20px 20px green inset; */
    /* box-shadow: 5px 5px 5px 2px grey; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap:40px; */
    border-radius: 30px;
    margin-right: 90px;
    /* padding-left: 20px; */
    /* justify-content: space-between; */

    & li{
        font-size: 19px;
        /* font-family: sans-serif; */
        font-weight: 700;
        list-style-type: none;
        text-decoration: none;
    }
}

li:hover{
    cursor: pointer;
}
.account-wrapper{
    width: 5%;
    height: 100%;
    /* background-color: azure; */
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
}
.account{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

    & .iconspers{
        width: 100%;
        height: 100%;
    }
}

.menu{
    display: none;
}

.iconspers:hover{
    cursor: pointer;
}
.HeaderActive{
    text-decoration: none;
    color: #0C513F;
}
.HeaderNotActive{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .header-inner-wrapper{
        width: 90%;
    }

    .Logo-wrapper{
        width: 15%;
        height: 40%;
    }

    .HeaderBtn{
        width: 100%;
        height: 100%;
        /* background: #000; */
    }

    .HeaderImg{
        width: 20px;
        height: 20px;
    }

    .BottomLaCurve{
        font-size: 13px;
    }

    .middle-section{
        width: 40%;
        height: 30px;
        margin-right: 60px;

        & li {
            font-size: 13px;
        }
    }

    .account{
        width: 30px;
        height: 30px;

        .iconspers{
            width: 80%;
            height: 80%;
            /* background: #000; */
        }
    }

    
}

@media screen and (max-width: 425px) {
    .header-inner-wrapper{
        width: 80%;
        /* background: #000; */
    }


    .HeaderBtn{
        display: none;
    }

    .Logo-wrapper{
    width: 28%;
    height: 42%;
    border-radius: 80px;
    background: var(--btn);
    color: white;
 }

   .icon-logo{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* border: 2px solid whitesmoke; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   } 

   .logoWrap{
    width: 15px;
    height: 15px;
    border-radius: 20px;
 }

 .h4Btn{
    font-size: 10px;
 }
 
    .middle-section{
        display: none;
    }

    .account{
        display: none;
    }

    .menu{
        display: flex;
        background: var(--btn);
        /* backdrop-filter: blur(30px); */
        border-radius: 3px;
        /* width: 40px; */
    }
}
