.MenuItemsHolder{
    width: 31%;
    height: 49vh;
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    padding: var(--padding);
    font-family: "poppins", sans-serif;
}

.MenuImg{
    width: 98%;
    height: 65%;
    /* background: whitesmoke; */

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
        aspect-ratio: 1/2;
    }
}

.MenuName{
    width: 98%;
    height: 35%;
    /* background: chartreuse; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.MenuH5{
    font-size: 20px;
}

.MenuDes{
    width: 94%;
    font-size: 12px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: ; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.MenuP{
    font-size: 16px;
    font-weight: bold;
}

.MenuBtn{
    width: 125px;
    height: 36px;
    background: var(--btn);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .MenuItemsHolder{
        width: 42%;
        height: 38vh;
    }

    .MenuH5{
        font-size: 17px;
    }

    .MenuP{
        font-size: 13px;
        font-weight: bold;
    }
    .MenuBtn{
        height: 28px;
    }
}

@media screen and (max-width: 425px) {
    .MenuItemsHolder{
        width: 70%;
    }
}

@media screen and (max-width: 375px) {
    .MenuItemsHolder{
        width: 80%;
        height: 35vh;
        /* gap: 20px; */
    }

    .MenuH5{
        font-size: 15px;
    }

    .MenuName{
        gap: 4px;
    }

    .MenuBtn{
        width: 110px;
        height: 22px;
    }
}

@media screen and (max-width: 320px) {
    .MenuItemsHolder{
        height: 34vh;
    }

    .MenuH5{
        font-size: 13px;
        /* font-weight: bold; */
    }

    .MenuBtn{
        width: 90px;
        font-size: 12px;
    }
}